extends ../components/base/layout

include ../components/mixins/hero
include ../components/mixins/btn
include ../components/mixins/sprite

block variables
  - const title = "PinkChicken"
  - const description = "PinkChicken description"
  //- - const logoUrl = "PinkChicken description"
  //- - const wrapperMods = ""
  //- - const hasHeader = true
  //- - const headerMods = ""
  //- - const hasFooter = true
  //- - const footerMods = ""

    //- +hero({
    //-   title: "qqqqqqqqqqqqqqqqqqqqqqqq",
    //-   text: "Та"
    //- },
    //- [{number: "1 элемент блока", label: "Подзаголовок №1", info: "Текстовое описание №1"}, {number: "2 элемент блока", label: "Подзаголовок №2", info: "Текстовое описание №2"},
    //- {number: "3 элемент блока", label: "Подзаголовок №3", info: "Текстовое описание №3"}])
