extends ../components/base/layout

include ../components/mixins/hero
include ../components/mixins/btn
include ../components/mixins/sprite

block variables
  - const title = "PinkChicken"
  - const description = "PinkChicken description"
