// Colors
// ---------------------------------

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;
$color-transparent:                 rgba(255, 255, 255, 0);
$color-shadow:                      rgba(0, 0, 0, 0.08);

// Others

$color-white-smoke:                    #f5f5f5;
$color-razzle-dazzle-rose:             #ee26c2;
$color-whisper:                        #ebebeb;
$color-very-light-grey:                #525252;
$color-dodger-blue:                    #2676ee;
$color-nobel:                          #949494;


// Typography

$fz-default:                        16px;

// Fonts

$ff-inter:                     "Inter", "Arial", sans-serif;

// Viewports
// ---------------------------------

$vp-375:                            375px;
$vp-768:                            768px;
$vp-1440:                           1440px;

// Retina
// ---------------------------------

$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
