.chat {
  padding: 28px;
  background-color: $color-default-white;
  box-shadow: 0px 0px 30px 0px $color-shadow;
  border-radius: 20px;

  @include vp-1439 {
    padding: 28px 20px 28px 28px;
  }

  @include vp-767 {
    box-shadow: none;
    padding: 0;
  }
}

.chat__text-wrapper {
  display: flex;
  margin-bottom: 16px;
  position: relative;

  h2 {
    @extend %title;
    margin-right: auto;
  }

  @include vp-767 {
    display: grid;
    grid-template-columns: auto min-content;
    align-items: center;
    margin-bottom: 22px;

    h2 {
      font-size: 20px;
    }
  }
}

.chat__contacts {
  padding-top: 9px;
  margin-right: 26px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-size: 15px;

  @include vp-1439 {
    margin-right: 30px;
  }

  @include vp-767 {
    grid-column: 1 / -1;
  }
}

.chat__contacts-name {
  font-weight: 600;
}

.chat__contacts-email {
  font-weight: 400;
}

.chat__submenu {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white-smoke;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  cursor: pointer;

  svg {
    flex-shrink: 0;
  }

  @include vp-767 {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: end;
  }
}

.chat__content {
  display: flex;
  flex-direction: column;
  background-color: $color-whisper;
  border-radius: 20px;

  @include vp-767 {
    margin: 0 -20px;
    border-radius: 0;
    padding: 0 20px 30px 20px;
  }
}

.chat__window-wrapper {
  height: 452px;
  overflow-y: auto;
  padding: 50px 20px 115px 20px;

  @include vp-1439 {
    padding: 55px 20px 115px 12px;
  }

  @include vp-767 {
    padding: 50px 0 0 0;
    height: 459px;
  }
}

.chat__window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  p {
    max-width: 470px;
    text-align: center;
    font-weight: 500;
    line-height: 145%;
    margin: 0;
  }

  @include vp-1439 {
    p {
      max-width: 370px;
    }
  }

  @include vp-767 {
    p {
      max-width: 273px;
      font-size: 14px;
    }
  }
}

.chat__interaction {
  position: relative;
  border-radius: 20px;
  border: 2px solid $color-whisper;
  background-color: $color-default-white;
}

.chat__img-wrapper {
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 17px;

  @include vp-1439 {
    svg {
      width: 180px;
      height: 183px;
    }
  }

  @include vp-767 {
    svg {
      width: 130px;
      height: 132px;
    }
  }
}

.chat__btn-wrapper {
  display: flex;
  gap: 12px;
  position: absolute;
  top: -65px;
  left: 20px;

  @include vp-1439 {
    top: -64px;
    left: 18px
  }

  @include vp-767 {
    flex-direction: column-reverse;
    align-items: end;
    top: -116px;
    left: auto;
    right: 14px;
  }
}

.chat__btn {
  display: inline-flex;
  padding: 12px 22px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 21px;
  border: none;
  color: $color-default-white;
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  @include vp-767 {
    font-size: 14px;
  }
}

.chat__btn--mediaplan {
  background-color: $color-razzle-dazzle-rose;
}

.chat__btn--report {
  background-color: $color-dodger-blue;
}

.chat__form {
  position: relative;
  padding: 20px 80px 77px 14px;
  border: 2px solid $color-default-white;
  border-radius: 20px;

  &:focus-within {
    border-color: $color-razzle-dazzle-rose;
  }

  @include vp-1439 {
    padding: 20px 94px 77px 14px;
  }

  @include vp-767 {
    padding: 20px 71px 77px 14px;
  }
}

.chat__form-input {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: flex-start;
  flex-shrink: 0;
  resize: none;
  border: none;
  font-size: 15px;

  &:focus {
    outline: none;
  }
}

.chat__form-additional-btns {
  display: grid;
  grid-template-columns: repeat(2, 24px);
  gap: 20px;
  position: absolute;
  bottom: 15px;
  left: 16px;

  @include vp-1439 {
    bottom: 13px;
  }

  @include vp-1439 {
    left: 12px;
  }
}

.chat__file-input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $color-default-white;
  height: 24px;
  width: 24px;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    display: block;
    width: 0;
    height: 0;
  }
}

.chat__form-btn-wrapper {
  display: inline-flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  bottom: 8px;
  right: 17px;

  span {
    text-align: center;
    font-size: 10px;
    line-height: 135%;
  }

  @include vp-1439 {
    bottom: 7px;
    right: 35px;
  }

  @include vp-767 {
    bottom: 6px;
    right: 12px;

    span {
      display: none;
    }
  }
}

.chat__form-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: $color-razzle-dazzle-rose;
  border-radius: 50%;
  border: none;
  height: 50px;
  width: 50px;
}
