.main__wrapper {
  display: grid;
  grid-template-columns: 295px auto;
  gap: 30px;
  padding-bottom: 60px;

  @include vp-1439 {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  @include vp-767 {
    gap: 0;
    padding: 0;
  }
}
