.main-footer {
  padding: 26px 0 28px 0;
  color: $color-very-light-grey;
  background-color: $color-whisper;

  @include vp-1439 {
    padding: 33px 0 28px 0;
  }

  @include vp-767 {
    background-color: $color-transparent;
    padding: 38px 0 28px 0;
  }
}

.main-footer__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 65px;
  align-items: center;
  font-weight: 500;
  font-size: 15px;
  line-height: 145%;

  @include vp-1439 {
    flex-direction: column;
    gap: 20px;
  }
}

.main-footer__info-wrapper {
  display: flex;
  gap: 106px;
  align-items: center;

  @include vp-1439 {
    width: 100%;
    gap: 41px;
    align-items: end;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    gap: 10px;
  }
}

.main-footer__logo {
  @include vp-1439 {
    width: 209px;
  }

  @include vp-767 {
    svg {
      width: 219px;
      height: 29.41px;
    }
  }
}

.main-footer__copyright {
  @include vp-767 {
    font-size: 14px;
  }
}

.main-footer__contacts {
  display: flex;
  align-items: center;
  gap: 65px;

  @include vp-1439 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
    width: 100%;
  }

  @include vp-767 {
    flex-direction: column;
    align-items: start;
    gap: 20px;
  }
}

.main-footer__email {
  display: grid;
  grid-template-columns: 24px auto;
  gap: 12px;
  color: $color-very-light-grey;
}

.main-footer__languages {
  display: grid;
  grid-template-columns: 24px auto;
  gap: 12px;

  @include vp-767 {
    order: -1;
  }
}

.main-footer__languages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 12px;
  align-items: center;
}

.main-footer__languages-item {
  &.is-active {
    color: $color-razzle-dazzle-rose;
  }
}

.main-footer__social {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 12px;

  @include vp-767 {
    margin-left: 3px;
  }
}
