.message {
  max-width: 69.99%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include vp-1439 {
    max-width: 86%;
  }

  @include vp-767 {
    max-width: 90%;
  }
}

.message--my-message {
  align-self: end;
  align-items: end;

  @include vp-1439 {
    padding-right: 7px;
  }

  @include vp-767 {
    padding-right: 16px;
  }
}

.message--response-message {
  align-self: start;
  align-items: start;
  display: grid;
  gap: 8px 13px;
  grid-template-columns: 49px auto;

  .message__text {
    grid-column: 2 / -1;
  }

  .message__info {
    grid-column: 2 / -1;
    grid-template-columns: repeat(2, min-content);
  }

  @include vp-1439 {
    padding-left: 8px;
  }

  @include vp-767 {
    padding: 0;
    grid-template-columns: 36px auto;
    gap: 8px 10px;

    img {
      width: 36px;
      height: 36px;
    }
  }
}

.message__text {
  display: flex;
  padding: 16px 22px;
  border-radius: 12px;
  background-color: $color-default-white;
  font-weight: 500;
  line-height: 145%;
  white-space: pre-wrap;

  @include vp-767 {
    font-size: 14px;
  }
}

.message__time {
  font-size: 15px;
  color: $color-very-light-grey;
  line-height: 135%;
}

.message__info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 8px;
  align-items: end;
}

.message__agent {
  font-size: 18px;
  font-weight: 600;
}
